%h1 Login

- form_for @conn, session_path(@conn, :create), [as: :session], fn f ->
  .form-group
    = text_input f, :email, placeholder: "Email", class: "form-control"
  .form-group
    = password_input f, :password, placeholder: "Password", class: "form-control"
  .form-group
    = link "Reset Password", to: password_path(@conn, :new)
  = submit "Log in", class: "btn btn-primary"
  %span
    or
    = link "Register", to: registration_path(@conn, :new)
