%h2 Listing links

%table.table
  %thead
    %tr
      %th Url
      %th Title
      %th User id

      %th
  %tbody
    - for link <- @links do
      %tr
      %td= link link.url, to: link.url
      %td= link link.title, to: link_path(@conn, :show, link)
      %td= link.user.email

      %td.text-right
        = link "Show", to: link_path(@conn, :show, link), class: "btn btn-default btn-xs"
        = link "Delete", to: link_path(@conn, :delete, link), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs"

= link "New link", to: link_path(@conn, :new), class: "btn btn-primary"
