%h2 Show link

%ul

  %li
    %strong Url:
    = link @link.url, to: @link.url

  %li
    %strong Title:
    = @link.title

  %li
    %strong User:
    = @link.user.email

  %li
    %strong Screenshot:
    %img(src="#{screenshot_url(@link)}")

= link "Back", to: link_path(@conn, :index)
