- form_for @changeset, @action, fn f ->
  - if @changeset.action do
    .alert.alert-danger
      %p
        Oops, something went wrong! Please check the errors below.

  .form-group
    = label f, :url, class: "control-label"
    = text_input f, :url, class: "form-control"
    = error_tag f, :url

  .form-group
    = label f, :max_depth, class: "control-label"
    = number_input f, :max_depth, class: "form-control"
    = error_tag f, :max_depth

  .form-group
    = label f, :max_retries, class: "control-label"
    = number_input f, :max_retries, class: "form-control"
    = error_tag f, :max_retries

  .form-group
    = submit "Submit", class: "btn btn-primary"
