%h2 Show crawl

%ul

  %li
    %strong Url:
    = @crawl.url

  %li
    %strong Max depth:
    = @crawl.max_depth

  %li
    %strong Max retries:
    = @crawl.max_retries

  %li
    %strong User:
    = @crawl.user.email

  %li
    %strong Links:
    %table.table
      %tr
        %th Link
        %th Screenshot
      - for link <- @crawl.links do
        %tr
          %td= link link.title, to: link.url
          %td= link "Screenshot", to: Link.screenshot_url(link)

= link "Back", to: crawl_path(@conn, :index)
