%h2 Show crawl

%ul

  %li
    %strong Url:
    = link @crawl.url, to: @crawl.url

  %li
    %strong Max depth:
    = @crawl.max_depth

  %li
    %strong Max retries:
    = @crawl.max_retries

  %li
    %strong User:
    = @crawl.user.email

  %li
    %strong Links count:
    = length @crawl.links

    %table.table
      %tr
        %th ID
        %th Title
        %th Link
        %th Screenshot
      - for link <- @crawl.links do
        %tr
          %td= link.id
          %td= link.title
          %td= link link.url, to: link.url
          %td= link "Screenshot", to: Link.screenshot_url(link)

= link "Back", to: crawl_path(@conn, :index)
